# add class-specific packages here:

# these are the scipy base packages ( YOU PROBABLY DON'T WANT TO REMOVE THESE )
dask 
pandas
numexpr
matplotlib
scipy
seaborn
scikit-learn
scikit-image
sympy
cython
patsy
statsmodels
cloudpickle
dill
numba
bokeh
sqlalchemy
hdf5
vincent
beautifulsoup4
protobuf
xlrd
bottleneck
pytables

# required for environment and plugins ( DO NOT REMOVE THESE!!! )
ipython 
ipykernel
